<!DOCTYPE html>
<html>
<head>
	<title>chatroom</title>
	<link rel="stylesheet" href="chat.css">
</head>
<body>
	<div class="header">
		<div class="brand">Chatroom</div>
	</div>
	<div class="sidebar">
		<div class="profile_info">
			<section class="avatar"></section>
			<section class="profile_links"></section>
		</div>
		<div class="users_list_area">
			<ul class="users_list">
				<li>user info 1</li>
				<li>user info 2</li>
				<li>user info 3</li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="text_area">
			<ul class="messages">
				<li> date_time1: message1</li>
				<li> date_time2: message2</li>
			</ul>
		</div>
		<div class="input_area">
			<section class="input_field">
				<input type="text" name="message" placeholder="type your message">
			</section>
			<section class="submit_field">
				<input type="submit" name="send_message" value="Enter">
			</section>
		</div>	
	</div>
</body>
</html>